[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bioC.logs"]
	path = bioC.logs
	url = https://github.com/mponce0/bioc.logs
[submodule "covid19.analytics"]
	path = covid19.analytics
	url = https://github.com/mponce0/covid19.analytics
[submodule "ehelp"]
	path = ehelp
	url = https://github.com/mponce0/ehelp
[submodule "Visualize.CRAN.Downloads"]
	path = Visualize.CRAN.Downloads
	url = https://github.com/mponce0/visualize.cran.downloads
